// adaptive images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  //- blur in preload
  &.preload {
    filter: blur(5px);
    &.landscape {
      min-width: 100%;
      height: auto;
    }
    &.portrait {
      width: auto;
      min-height: 100%;
    }
  }
}

// google map fix
.gm-style img {max-width: none}

//
::selection {
  background-color: $col-primary;
  color: $white;
}

iframe, video {
  width: 100%;
}

.recaptcha-block {
  margin: 0 auto;
  > div {
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
  }
}
