$sighin-txt: #6a6a6a;
$sighin-bg: #f7f7f7;
$header-options-bord: 1px solid rgba(#000, .15); //#d9d9d9
$nav-hover: #bf631d;
$autocomp-border: #dedede;
$autocomp-color: #b2b2b2;
$collapse-menu: 1200px;
$mobile-menu-height: 36px;

/* ---------------------------------------------------------
  1. Actions
  2. Sign In Section
  3. Main Section
  4. Nav Section
   ---------------------------------------------------------*/
.header_row {
  display: flex;
}

.header_options {
  display: flex;
  justify-content: center;
  position: relative;
  @include media('>=#{$collapse-menu}') {
    justify-content: space-between;
    flex: 0 0 220px;
    min-width: 220px;
    border-left: $header-options-bord;
  }
}

/* ---------------------------------------------------------
   1. Actions
   ---------------------------------------------------------*/
.page_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  max-height: 100vh;
  width: 100%;
  max-width: 100%;
  background-color: $white;
  color: $col-txt2;
  @include media('>=#{$collapse-menu}') {
    overflow: visible;
    box-shadow: none;
  }
  &.signin-show {
    overflow-y: auto;
    @include media('>=#{$collapse-menu}') {
      overflow-y: visible;
    }
  }
  &.menu-show {
    box-shadow: 0 0 23px -3px rgba(0,0,0,.94);
  }
  .text-muted { color: #9da0a7; }
}

.header_heightfix {
  height: 57px;
  flex: 0 0 57px;
  @include media('>=#{$collapse-menu}') {
    height: 117px;
    flex: 0 0 117px;
  }
}
/* ---------------------------------------------------------
   2. Sign In Section
   ---------------------------------------------------------*/
.header_signin {
  max-height: 0;
  overflow: hidden;
  background-color: $sighin-bg;
  transition: max-height 1s;
  .signin-show & {
    max-height: 600px;
  }
}
.header_row--signin {
  position: relative;
  padding: 2rem 0;
  color: $sighin-txt;
  flex-direction: column-reverse;
  @include media('>=medium') {
    flex-direction: row;
  }
}
.head-signin_content-col {
  width: 100%;
  margin: 0 auto;
  @include media('>=large') {
    display: flex;
    flex: 1 1 28.72%;
  }
  &:first-child {
    padding-left: 0;
    @include media('>=large') {
      flex: 1 1 21.28%;
    }
  }
  &.content-col_form {

    @include media('>=medium') {
      border-left: $header-options-bord;
    }
    @include media('>=large') {
      flex: 1 1 50%;
      padding-right: 0;
    }
  }
  + .head-signin_content-col {
    @include media('>=xlarge') {
      border-left: $header-options-bord;
    }
  }
}
.head-signin_content {
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 320px;
  @include media('>=large') {
    width: 252px;
  }
  p {
    margin-bottom: 23px;
    line-height: 1.2;
    font-weight: 300;
  }
}

.head-signin_content--reg {
  .btn {
    margin-top: auto;
  }
}

.head-signin_content--outer-width {
  flex-basis: auto;
  @include media('>=large') {
    flex: 0 1 300px;
    max-width: 300px;
  }
  @include media('>=xlarge') {
    margin: 0 0 0 auto;
  }
  + .head-signin_content {
    padding-top: 10px;
    @include media('>=large') {
      flex: 0 1 240px;
      max-width: 240px;
      padding-top: 0;
    }
    @include media('>=xlarge') {
      margin: 0;
      padding-right: 0;
    }
  }
}

.head-signin_heading {
  position: relative;
  overflow: hidden;
  margin-bottom: 17px;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: $col-primary;
    width: 100%;
    max-width: 77px;
  }
}
.head-signin_title {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.head-signin_bullet-list {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    position: relative;
    padding: 0 30px 0 23px;
    color: inherit;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      background-color: currentColor;
      border-radius: 50%;
    }
    &:after {
      display: none;
      content: "\f105";
      font-family: 'FontAwesome';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
    &:hover {
      color: $white;
      background-color: $col-primary;
      &:before{
        background-color: $white;
      }
      &:after{
        color: $white;
        display: block;
      }
    }
  }
}

/*----- Sign in form -----*/
.head-signin_form {
}

.head-signin_form-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  margin-top: -11px;
}

.head-signin_close {
  position: absolute;
  top: 13px;
  right: -6px;
  padding: 6px;
  font-size: 22px;
  line-height: 1;
  background-color: transparent;
}
/* ---------------------------------------------------------
   3. Main Section
   ---------------------------------------------------------*/
.header_main {
  border-bottom: 5px solid $col-primary;
  @include media('>=#{$collapse-menu}') {
    border: none;
  }
  .menu-show & {
    border-bottom: $header-options-bord;
    @include media('>=#{$collapse-menu}') {
      border: none;
    }
  }
}
.header_row--main {
  background-color: $white;
  padding: 8px 0;
  @include media('>=#{$collapse-menu}') {
    padding: 20px 0;
  }
}
.head-main_col {
  flex: 0 0 auto;
}
/*----- Logo -----*/
.head-main_col--logo {
  padding-right: 16px;
  height: $mobile-menu-height;
  a {
    display: block;
    line-height: $mobile-menu-height;
  }
  img {
    width: 31px;
    height: auto;
    @include media('>=medium') {
      width: 146px;
    }
    @include media('>=#{$collapse-menu}') {
      width: 186px;
      height: auto;
    }
  }
}
/*----- Search -----*/
.head-main_col--search {
  flex: 1 1 0;
  max-width: none;
  padding-left: 10px;
  padding-right: 14px;
}
.header_search-holder {
  position: relative;
  text-align: right;
  &.active {
    input.header_search {
      max-width: 100%;
      opacity: 1;
      transition: opacity .1s, max-width .5s;
    }
  }
  .menu-show & {
    display: none;
    @include media('>=#{$collapse-menu}') {
      display: block;
    }
  }
}

.header_search-holder:not(.active) input.header_search {
  @include media('<medium') {
    padding: 0;
    min-width: 0;
  }
}

input.header_search {
  height: $mobile-menu-height;
  border: 1px solid $col-border;
  padding-right: 33px;
  max-width: 0;
  opacity: 0;
  transition: max-width .5s, opacity .1s .25s;
  display: inline-block;
  vertical-align: top;
  @include media('>=medium') {
    position: relative;
    z-index: 1;
    background: transparent;
    padding-right: .45rem;
    padding-left: 33px;
    max-width: 100%;
    opacity: 1;
  }
  &:focus {
    border-color: $col-border;
  }
}

.header_search-btn {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1px;
  background-color: $white;
  @include media('>=medium') {
    right: auto;
    left: 1px;
  }
}

/*----- Autocomplete -----*/
.search-autocomplete_wrapper  {
  @include multi-transition(transform);
  position: fixed;
  top: 57px;
  left: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  //max-height: 0;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 5px 8px rgba($black, 0.25);
  overflow-y: auto;
  text-align: left;
  @include media('>=premedium') {
    position: absolute;
    top: 39px;
    &:before {
      display: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0 5px 8px 0 rgba(0,0,0,.15);
    z-index: 1;
  }

  &.show-search {
    max-height: 80vh;
    transform: rotateX(0);
  }
}

.signin-show .search-autocomplete_wrapper.show-search {
  @include media('>=xlarge') {
    max-height: calc(100vh - 340px);
  }
}

.search-autocomplete_list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $white;
  border: 1px solid $autocomp-border;
  li {
    + li {
      border-top: 1px solid $autocomp-border;
    }
  }
}
.search-autocomplete_item {
  display: flex;
  color: $autocomp-color;
  width: 100%;
  position: relative;
  transition: background-color .5s;
  &:hover, &.active {
    color: $col-primary;
    background-color: $sighin-bg;
    .search-autocomplete_search {
      font-size: inherit;
    }
  }
}
.search-autocomplete_icon {
  position: relative;
  flex: 0 0 3.5rem;
  max-width: 3.5rem;
  .fa {
    @include multi-transition(color);
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
  }
}
.search-autocomplete_content {
  flex: 1 1 0;
  padding: 1.2rem;
}

.search-autocomplete_search {
  @include multi-transition(font-size);
  font-weight: normal;
  color: $col-txt2;
  margin-bottom: 0;
  @include media('>=xlarge') {
    font-size: 0;
  }
  span {
    color: $autocomp-color;
  }
}
.search-autocomplete_category {
  font-size: 1rem;
}

/*----- Autocomplete-animation -----*/
.search-autocomplete_list {
  .search-autocomplete_item {
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: $col-primary;
      transition: transform .25s, visibility 0s .25s;
      visibility: hidden;
      will-change: transform;
      transform: translateY(100%);
    }
    &:hover {
      span.search-autocomplete_category { color: $col-primary; }
    }
  }

  li:hover {
    & ~ li .search-autocomplete_item:after {
      transform: translateY(-100%);
    }
    .search-autocomplete_item:hover:after {
      transform: none;
      visibility: visible;
      transition-delay: 0s;
    }
  }
}

/*----- Registration -----*/
.head-main_col--reg {
  display: flex;
  align-items: center;
}
.head-main_reg {
  display: none;
  margin-right: 10px;
  @include media('>=#{$collapse-menu}') {
    display: flex;
    padding-left: 14px;
    margin-right: 0;
  }
  .menu-show & {
    display: flex;
  }

  .btn--link {
    font-size: .9rem;
    &:hover {
      color: $col-primary-hover;
    }
  }
  .btn--primary {
    @include media('<presmall') {
      padding: 0 7px;
    }
  }
  .btn {
    margin-right: 15px;
    @include media('>=#{$collapse-menu}') {
      margin: 0;
    }
  }
}

.my-profile{
  &.show-drop,
  &:hover {
    + .my-profile_drop {
      display: block;
    }
  }
}
.my-profile_drop {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 10px 20px;
  box-shadow: 0 0 22px -3px rgba(#000, .94);
  z-index: 100;
  background-color: $white;
  &:hover {
    display: block;
  }
  .btn {
    display: block;
    margin-bottom: 0.5rem;
  }
}

/*----- Burger btn -----*/
.nav-opener {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 17px;
  padding: 0;
  background-color: transparent;
  @include media('>=#{$collapse-menu}') {
    display: none;
  }
  span,
  &:after,
  &:before {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 3px;
    background-color: currentColor;
    transition: transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1), top 75ms ease .12s, bottom 75ms ease .12s;
  }
  span {
    top: 7px;
  }
  &:after {
    content: '';
    bottom: 0;
  }
  &:before {
    content: '';
    top: 0;
  }

  .menu-show & {
    span {
      opacity: 0;
    }
    &:before {
      top: 7px;
      transform: rotate(45deg);
      transition: top 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) .12s;

    }
    &:after {
      bottom: 7px;
      transform: rotate(-45deg);
      transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) .12s;
    }
  }
}

/* ---------------------------------------------------------
   4. Nav Section
   ---------------------------------------------------------*/
.header_nav {
  display: none;
  @include media('>=#{$collapse-menu}') {
    display: block;
    background-color: $col-primary;
    color: $white;
  }
  .menu-show & {
    display: block;
  }
}

.header_row--nav {
  flex-direction: column;
  @include media('>=#{$collapse-menu}') {
    flex-direction: row;
    box-shadow: none;
  }
}

.header_nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  @include media('>=#{$collapse-menu}') {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.nav-list_link {
  padding: 8px 20px;
  display: inline-block;
  text-align: center;
  color: inherit;
  font-weight: 700;
  @include media('>=#{$collapse-menu}') {
    padding: 8px 24px;
    font-weight: normal;
  }
  &:hover,
  &.active,
  .active & {
    color: $col-primary;
    @include media('>=#{$collapse-menu}') {
      color: inherit;
      background-image: linear-gradient(-180deg, $nav-hover 0%, rgba($nav-hover, 0) 100%);
    }
  }
}

.header_nav-secondary {
  align-items: center;
  border-top: $header-options-bord;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  @include media('>=#{$collapse-menu}') {
    border-top: none;
    padding: 0;
  }
  li {
    flex: 0 0 50%;
    @include media('>=#{$collapse-menu}') {
      flex: 0 0 auto;
    }
    &:first-child {
      border-right: $header-options-bord;
      text-align: right;
    }
    &:last-child {
      text-align: left;
      .nav-list_link {
        @include media('>=#{$collapse-menu}') {
          padding-right: 0;
          padding-left: 5px;
          text-align: right;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  .nav-list_link {
    font-weight: normal;
    &:hover {
      color: $col-primary;
      @include media('>=#{$collapse-menu}') {
        color: inherit;
      }
    }
    .fa {
      font-size: 1.2rem;
      margin-left: 8px;
    }
  }
}
