/* hide the original widget - that there were no two labels on the screen*/
#jivo_chat_widget{
  display: none;
}

/* the default style - for offline messages if no one is online */
#jivo_custom_widget {
  @include multi-transition(background-color);
  position: fixed;
  right: 5px;
  bottom: 15px;
  width: 35px;
  height: 35px;
  background-color: $col-primary;
  z-index: 500;
  color: $white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
  @include media('>=large') {
    right: 25px;
    bottom: 25px;
  }
  &:after {
    content: "\f075";
    font-family: FontAwesome;
    line-height: 31px;
    font-size: 1.4rem;
  }
  &:hover {
    background-color: $col-primary-hover;
  }
  .vr-main & {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    width: 28px;
    height: 40px;
    z-index: auto;
    box-shadow: none;
    //@media screen and (orientation: landscape) and (max-width: 1024px) {
    //  width: 40px;
    //  background-color: $col-txt2;
    //}
    @include media('>=large') {
      width: 40px;
      background-color: $col-txt2;
    }
    &:after {
      line-height: 36px;
      font-size: 1.1rem;
    }
    &:hover {
      //@media screen and (orientation: landscape) and (max-width: 1024px) {
      //  background-color: $col-primary-hover;
      //}
      background-color: transparent;
      @include media('>=large') {
        background-color: $col-primary-hover;
      }
    }
  }
}

/* if there are operators online - show other label*/
#jivo_custom_widget.jivo_online{

}

body div#jivo-iframe-container.jivo-iframe-container-bottom {
  min-width: 250px !important;
  max-width: calc(100% - 33px) !important;
  right: 3px !important;
  z-index: 10000;
  @include media('>=presmall') {
    right: 10px !important;
  }
  @include media('>=large') {
    right: 30px !important;
  }
}

body .vr-main ~ div#jivo-iframe-container.jivo-iframe-container-bottom {
  //@media screen and (orientation: landscape) and (max-width: 1023px) {
  //  right: 80px !important;
  //}
  @include media('>=large') {
    right: 430px !important;
  }
}

jdiv {
  display: none !important;
}
