section.shop_section.shop_section--position(
  v-if="storeFrontCtrl.productsList.length"
)
  .shop-section_header
    .shop-section_actions
    .shop-section_title
      h2.h2 Products featured
    .shop-section_actions

  .products-carousel
    carousel.shop_list(
      :loop="true"
      :items="4"
      :navText="navText"
      :responsive="{0: {items: 1, nav: false, dots: true}, 480: {items: 2, nav: false }, 768: { nav: true, dots: false }, 992: {items: 4, dots: false} }"
    )
      li.shop-tile_wrap.shop-tile_wrap--large(
        v-for="product in storeFrontCtrl.productsList"
      )
        .shop-tile.banners_slide-products
          router-link.product-tile_photo-wrap(:to="product.link")
            .product-tile_label-wrap.product-tile_label(v-if="product.newPrice")
              span Sale
            img(
              :alt="product.title"
              :src="product.thumbnail || product.defaultImage"
            )

          .product-tile_details-wrap
            h4.product-tile_name
              router-link.product-item-link(
                v-show="product.title"
                :to="product.link"
              )
                | {{ product.title }}

            .product-tile_details-inner
              .product-tile_price
                span.price(v-show="product.price") {{ product.newPrice || product.price | currency }}
                span.old-price(v-if="product.newPrice") {{ product.price | currency }}

            .product-tile_btn-inner
              button.btn.btn--link(
                type="button"
                @click.prevent="addToCart(product)"
              )
                i.fa.fa-shopping-cart(aria-hidden="true")
                | Add to cart
