section.shop_section(
  v-if="storeFrontCtrl.roomsCategoriesList.children.length > 4"
)
  .shop-section_header.shop-section_actions--position
    .shop-section_actions
    .shop-section_title
      h2.h2 Shop by room
    .shop-section_actions.shop-section_actions--show

  .products-carousel
    carousel.shop_list(
      :loop="true"
      :autoplay="true"
      :autoplayTimeout="4000"
      :dots="true"
      :nav="false"
      :responsive="{0: {items: 1}, 640: {items: 2}, 992: {items: 3} }"
    )
      li.shop-tile_wrap.shop-room_tile.shop-tile_wrap--large(
        v-for="(category, index) in storeFrontCtrl.roomsCategoriesList.children"
        :key="index"
      )
        router-link.room-tile_box.slider__slide(to="/some-link")
          .room-tile_img
            .img-wrapper
              img(
                :src="category.thumbnail || 'https://s3.amazonaws.com/HT-Shop/default_shop.jpg'"
                alt="description picture"
              )
          .room-tile_title
            p {{ category.title }}
