nav
  ul.breadcrumbs
    li
      router-link.btn.btn--link(:to="{name: 'ArticleList'}") Media
        | &nbsp;
        i.fa.fa-angle-right(aria-hidden="true")
    li
      span.text-primary {{ $route.params.slug}}

