.product-inner-sidebar
  section.article-sidebar_widget
    h3.sidebar-widget_title Related Media
    ul.sidebar-widget_list
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-943x0-531/thumbnails%2F1gtvt2yf8eioskcswswws_Thumb2.jpg')
          .sidebar-related_text
            h5 TOTO USA Unveils Next Generation of Bathroom Fixtures at KBIS
            span.pseudo-btn Full Story
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-943x0-531/thumbnails%2F2j6rjlut3dmoogk04cw4s_Thumbnail.jpg')
          .sidebar-related_text
            h5 Green Apple Home Style: Luxury Designs Through Innovations
            span.pseudo-btn Full Story
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1352x0-761/thumbnails%2F37fw3oo87jggw80wkkgco_robertathumb.jpg')
          .sidebar-related_text
            h5 The Best of Brazil: Designer Roberta Schilling at NY NOW
            span.pseudo-btn Full Story
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1585x83-894/thumbnails%2Fyj4xer7vlts4ccs4c4s0_6.jpg')
          .sidebar-related_text
            h5 Rooms With Style Can Help You Create Your Dream Home
            span.pseudo-btn Full Story
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-4320x448-2432/thumbnails%2F2u7hzkbp66skoggk08gcc_7X0A1282.JPG')
          .sidebar-related_text
            h5 Exclusive Insight at ‘Meet the Architects Night’ & Home Tours
            span.pseudo-btn Full Story

  hr.sidebar-widget_separator
  section.article-sidebar_widget
    h3.sidebar-widget_title Popular Virtual Rooms
    ul.sidebar-widget_list
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1500x56-844/vr-thumbnail%2F5v004pluaccgg80c0sg4c_Tuscan__4_.jpeg')
          .sidebar-related_text
            h5 Tuscan
            div
              span.pseudo-btn
                | See More
                span.fa.fa-angle-right
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1500x31-845/resize_0x0/thumbnails%2F6zqolflqthwc4occ040go_Marble.com_Signature_Room_4_.jpeg')
          .sidebar-related_text
            h5 Marble.com Signature Room
            div
              span.pseudo-btn
                | See More
                span.fa.fa-angle-right
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1500x53-846/vr-thumbnail%2F5x9x30cioscg8w4ccc44w_6rpytjrrit4wgco04g08c_Cuomo_Kitchen.jpeg')
          .sidebar-related_text
            h5 Cuomo Kitchen
            div
              span.pseudo-btn
                | See More
                span.fa.fa-angle-right
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1500x59-842/vr-thumbnail%2F4ojsg709a1a84o8ogkg80_4.jpg')
          .sidebar-related_text
            h5 Signature Room by Graham and Brown
            div
              span.pseudo-btn
                | See More
                span.fa.fa-angle-right
      li
        a.sidebar-widget_link(href='#')
          .sidebar-related_img
            img(src='https://cdn3.housetipster.com/resize_300x0--crop_0-1500x59-842/vr-thumbnail%2F6s27cuapzy4gs4wwwg44o_1.jpg')
          .sidebar-related_text
            h5 Lohja Bathroom
            div
              span.pseudo-btn
                | See More
                span.fa.fa-angle-right
