
ul.article_social-list
  li
    a.bg-primary(href="#")
      i.fa.fa-envelope(aria-hidden="true")
  li
    a.facebook-bg(href="#" target="_blank")
      i.fa.fa-facebook(aria-hidden="true")
  li
    a.twitter-bg(class='#' target="_blank")
      i.fa.fa-twitter(aria-hidden="true")
  li
    a.linkedin-bg(href='#' target="_blank")
      i.fa.fa-linkedin(aria-hidden="true")
  li
    a.google-plus-bg(href='#' target="_blank")
      i.fa.fa-google-plus(aria-hidden="true")
  li
    a.pinterest-bg(href='#' target="_blank")
      i.fa.fa-pinterest-p(aria-hidden="true")
