.header_shop-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  margin-right: 15px;
  @include media('>=#{$collapse-menu}') {
    margin-right: 0;
  }
}

.header_shop-btn {
  position: relative;
  padding: 4px 8px;
  .fa {
    font-size: 1.2rem;
  }
  span {
    padding: 2px 5px;
    color: $white;
    background-color: $col-txt2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
    line-height: 1;
  }
  .menu-show & {
    display: none;
    @include media('>=#{$collapse-menu}') {
      display: block;
    }
  }
}
