//.banners_slider { /*slider-entity*/
//  display: block;
//  width: 100%;
//  color: $white;
//}
//.banners_slides-wrapper {
//  margin-bottom: $vert-indent;
//  overflow: hidden;
//  display: flex;
//  @include media('>=large') {
//    height: 302px;
//  }
//}
//.banners_slide-block {
//  width: 100%;
//  height: 100%;
//  position: relative;
//  overflow: hidden;
//  margin-left: -100%;
//  &:first-child {
//    margin-left: 0;
//  }
//  &.dark-bg:after {
//    content: '';
//    position: absolute;
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    background: rgba($black, .6);
//  }
//}
//.banners_slide-img {
//  @include media('>=large') {
//    height: auto;
//    width: 100%;
//  }
//}
//
//.banners_slide-link {
//  position: absolute;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//}
//
//.slide_text-block {
//  //line-height: 1.333;
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  max-width: 85%;
//  z-index: 5;
//  width: 100%;
//  .row {
//    display: flex;
//    justify-content: center;
//    @include media('>=presmall') {
//      justify-content: flex-start;
//    }
//  }
//}
//
//.banners_slide-title {
//  font-weight: bold;
//  line-height: 1.2;
//  text-align: center;
//  @include media('>=presmall') {
//    text-align: left;
//  }
//  &:only-child {
//    width: 100%;
//    text-align: center;
//  }
//  .h1 {
//    font-size: 35px;
//    margin-bottom: 0;
//    @include media('>=presmall') {
//      font-size: 57px;
//    }
//  }
//}
//
//.banners_slide-separator {
//  display: none;
//  @include media('>=medium') {
//    display: block;
//    background: $col-primary;
//    width: 4px;
//    margin: 0 30px;
//  }
//  @include media('>=large') {
//    margin: 0 80px;
//  }
//}
//
//.banners_slide-text {
//  display: none;
//  @include media('>=medium') {
//    display: block;
//    font-size: 18px;
//    font-weight: 300;
//    max-width: 590px;
//  }
//  p {
//    margin: 0;
//  }
//}


.agile__dots {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 5;
  line-height: 1;
}

.agile__dot {
  display: inline-block;
  &:last-child {margin-right: 0;}
  &.agile__dot--current button {
    background: $col-primary;
    border-color: $white;
  }
  button {
    font-size: 0;
    display: none;
    @include media('>=presmall') {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $white;
      border: 1px solid $col-txt2;
      cursor: pointer;
      margin-right: 10px;
      padding: 0;
    }
  }
}
