@import '../../../scss/base';
@import '../../../scss/pages/filters-sidebar';
@import '../../../scss/components/pager';
@import '../../../scss/components/simple-pagination';
@import '../../../scss/repeating-blocks/sorting&pagination';
@import '../../../scss/repeating-blocks/filters';


.gallery-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 10px;
  column-count: 4;
}

.gallery-list_item {
  padding: 5px 0;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.gallery-item {
  position: relative;
  border: 1px solid $col-border;

  &:hover {
    .gallery-item_details {
      opacity: 1;
    }
  }
}

.gallery-item_picture {
  width: 100%;
}

.gallery-item_details {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  color: $white;
  background-color: rgba(#000, .5);
  transition: opacity .3s;
}
