@import '../../../scss/base';

.profile_head {
  height: 300px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user_info {
  padding: 50px;
  flex: 1;
  display: flex;
  &:hover {
    .edit-button {
      opacity: 1;
    }
  }
  .user-ava-block {
    padding-right: 20px;
    position: relative;

    .edit-button {
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translateX(-50%);
    }
  }
  .avatar_pic {
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid $white;
    width: 180px;
    height: 180px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .name {
    color: $white;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    line-height: 1.2;
    .user-name {
      display: inline-block;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      vertical-align: middle;
      //width: calc(100% - 34px);
      min-height: 32px;
      position: relative;
      text-transform: none;
    }
  }

  .name-wrapper {
    display: inline-block;
    background-color: rgba($black, 0.4);

    padding: 6px 8px;
    &.deleted-user {
      padding: 5px 20px;
      .name { line-height: 0; }
      .user-name {
        padding-right: 0;

      }
    }
  }

  .edit-name {
    //@include awesome($icon:'\f040', $ic-left:50%, $ic-align:both);
    position: absolute;
    top: 3px;
    right: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: $col-primary;
    color: $white;
    display: inline-block;
    vertical-align: top;
    font-size: .5em;
    //margin-top: 5px;
  }
  .soc-block {
    //display: inline-block;
    display: block;
    background-color: rgba($black, 0.4);
    padding: 9px;
    margin: 5px 0;
    text-align: center;
    max-width: 220px;
    .spoil-text {
      display: inline-block;
      color: $white;
      //font-size: $smallest-font-size;
      text-transform: capitalize;
      width: 100%;
    }
  }

  .soc-links {
    a {
      @include multi-transition(color);
      display: inline-block;
      margin-right: 4px;
      color: $white;
      font-size: 25px;

      &:last-child {margin-right: 0;}
      &:hover {color: $col-primary;}
      &.inactive {
        color: #9a9a9a;
        cursor: default;
        &:hover {
          color: #9a9a9a;
          cursor: default;
        }
      }
    }
  }
  .add-soc-links {
    margin-top: 5px;

  }
  .edit-button {
    @include multi-transition(opacity);
    opacity: 0;
    display: flex;
    margin-top: 5px;
    .btn {
      @include multi-transition(background-color, color);
      background-color: $white;
      box-shadow: 0 2px 1px 1px rgba($black, 0.2);
      padding: 2px 10px;
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: $col-primary;
        .fa {
          color: $white;
        }
      }
    }
    .fa {
      @include multi-transition(background-color, color);
      color: $col-primary;
    }
  }
}

.links-block {
  display: inline-block;
  background-color: rgba($black, 0.6);
  //float: right;
  height: 100%;
  padding: 50px 30px 10px;
  width: 200px;
  position: relative;
  overflow: hidden;
  &.disabled-block {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba($black, 0.4);
    }
  }
  li {
    margin-bottom: 12px;
    width: 100%;
    &.notifications {
      position: relative;
      &:hover, &.active {
        .user-popup-wrap {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    &:last-child {margin-bottom: 0;}
    a {
      @include multi-transition(color);
      display: inline-block;
      color: $white;
      font-size: 1rem;

      text-transform: capitalize;
      .fa-bell {
        @include multi-transition(color);
        color: $col-primary;
        margin-left: 6px;
      }
      &:hover {
        color: $col-primary;
        .fa-bell {color: $white;}
      }
    }
  }
  .button-link {
    text-transform: capitalize;
    margin-top: 60px;
    width: 100%;
  }
}

.tabs {
  flex: 0 0 200px;
  max-width: 200px;
  background-color: rgba($black, 0.6);
  padding: 50px 30px 10px;
}
.tabs_list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: $white;
  li {
    margin-bottom: .25em;
  }
}


.edit-social_list {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  li {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .fa {
    font-size: 1.5em;
  }
}

.edit-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
