
.article-item_picture-holder
  .article-item_picture-box
    img.media-item_picture(:src="[article.image || 'https://thumbnails-xsdo23s.s3.amazonaws.com/empty.jpg']")
  a.article-item_hover-link(:href="['media/' + article.slug]")

.article-item_details
  .media-item_details-body
    h3.media-item_title.articleTitle {{ article.title }}
      router-link(:to="['media/' + article.slug]")
    .media-item_content
      p {{ article.leadPar }}

  footer.media-item_details-footer
    a(:href="['media/' + article.slug]")
      span Full story
    .media-item_date
      i(aria-hidden="true").fa.fa-clock-o
      | &nbsp;
      time(timedate="listItems") {{ article.date }}
