
.article-item_picture-holder
  .article-item_picture-box
    img.media-item_picture(src="https://thumbnails-xsdo23s.s3.amazonaws.com/empty.jpg")
  a.article-item_hover-link(href='#')

.article-item_details
  .media-item_details-body
    h3.media-item_title.articleTitle
      a(href='#') {{ article.info.title }}
    .media-item_content
      p {{ article.info.leadPar }}

  footer.media-item_details-footer
    a(href="#")
      span Full story
    .media-item_date
      i(aria-hidden="true").fa.fa-clock-o
      | &nbsp;
      time(timedate="listItems") Time
