
.category-list_settings
  dl.sorting
    dt.show-for-large sort by:
    dd
      select.sorting_select
        option(value="popular") Popular
        option(value="newest") Newest
        option(value="oldest") Oldest
        option(value="title") Title

  ul.list_views.show-for-large
    li.list_views_item
      span.ht.view-2.view-icon
    li.list_views_item
      span.ht.view-1.view-icon

  .pagination-light(

  )
    button.pagination_btn( type="button"

    )
      i(aria-hidden="true").fa.fa-angle-left
    .pagination_text
      | 1
      span &nbsp;-&nbsp;
      | 2
      span &nbsp;of&nbsp;
      | 3
      span.show-for-large &nbsp;Media

    button.pagination_btn(type="button"

    )
      i(aria-hidden="true").fa.fa-angle-right
