.sidebar_controls.hide-for-xlarge
  button.btn.btn--outline(type="button"

  )
    i(aria-hidden="true").fa.fa-filter
    | &nbsp;
    | &nbsp;
    span Clear All Filters

  button.btn.btn--link.sidebar_close-btn(type="button"
  @click="showSidebar = !showSidebar"
  )
    i(aria-hidden="true").fa.fa-times
ul.category-sidebar_list
  li.category-sidebar_item(
    v-for="tag in content.listPage.tags"
  )
    button.category-sidebar_title(type="button") {{ tag }}
