@import '../../../scss/base';
@import '../../../scss/pages/shop';
@import '../../../scss/components/product-item';
@import '../../../scss/components/slider-entity';
@import '../../../scss/repeating-blocks/products-carousel';
@import '../../../scss/repeating-blocks/slider-shop-list';


.shop_section,
.banners_slides-wrapper {
  margin-bottom: 30px;
  &.carousel-section {
    margin-bottom: 20px;
    position: relative;
  }
}
.shop-section_header {
  margin-bottom: 30px;
  padding-top: 0;
}
.shop_list {
  text-transform: capitalize;
}

.shop-tile {
  overflow: hidden;
  justify-content: space-between;
  min-height: 245px;
}

.shop-category_img {
  img {
    width: 100%;
  }
}
.shop-category_content {
  padding: .75em 7%;
  @include media('>=large') {
    padding: 1.75em 15%;
  }
}
.shop-category_title {
  display: inline-block;
  font-size: 1.25em;
  margin-bottom: .35em;
  transition: color .3s;
  font-weight: normal;
  color: $col-page_title;
}
.shop-category_subcategory {
  list-style: none;
  margin: 0;
  padding: 0;
  color: $dark-gray;
  //font-size: .875em;
  li {
    div {
      padding-bottom: .54em;
    }
    button:hover {
      color: $col-primary;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: $col-primary;
    }
  }
}
