.show-sidebar-btn {
  width: 100%;
  margin: 0 auto 10px;
}

.category-sidebar {
  @include multi-transition(transform);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 70;
  overflow-y: auto;
  transform: translateX(-100%);
  background-color: $white;
  @include media('>=medium') {
    padding: 40px;
  }
  @include media('>=xlarge') {
    padding: 0;
    position: static;
    z-index: 0;
    height: auto;
    transform: translateX(0);
    flex: 0 0 240px;
    min-width: 240px;
    overflow: hidden;
  }
  &.active {
    transform: translateX(0);
  }
}

.sidebar_controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .875rem;
  padding: 25px 18px;
  border-bottom: 1px solid $col-border;
  @include media('>=medium') {
    border: none;
    padding: 0 0 40px;
  }
  .btn--outline {
    border-width: 1px;
  }
}

.sidebar_close-btn {
  padding: 0 7px;
  font-size: 1.2857em;
  transform: translateX(7px);
}

.category-sidebar_list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include media('>=presmall') {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  @include media('>=xlarge') {
    display: block;
    margin: 0;
  }
}

.sidebar-category {
  background-color: $white;
  &:last-child { border-bottom: none; }
  @include media('<xlarge') {
    border-bottom: none;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
  }
  @include media('<presmall') {
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
  }
}
.sidebar-category_title {
  @include multi-transition(background-color, color);
  color: $col-txt2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: transparent;
  width: 100%;
  &:hover {
    background-color: $bg-article;
    color: $col-txt;
  }
  &:focus { color: $col-txt; }
  h5 {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  @include media('<xlarge') {
    border-bottom: 1px solid $col-border;
    padding: 18px 25px;
  }
  &.active {
    .toggle_arrow-icon {
      &:before {
        visibility: visible;
        opacity: 1;
      }
      &:after {
        visibility: hidden;
        opacity: 0;
      }
    }
    +.sidebar_groups-list {
      transition: max-height 2s;
      max-height: 2000px;
    }
  }
}

.toggle_arrow-icon {
  @include sizes(10px);
  color: inherit;
  font-size: 10px;
  position: relative;
  &:before,
  &:after {
    @include multi-transition(visibility, opacity);
    content: '';
    color: inherit;
    font-size: inherit;
    position: absolute;
    right: 0;
  }
  &:before {
    content: '\f077';
    visibility: hidden;
    opacity: 0;
  }
  &:after {
    content: '\f078';
  }
}

.toggle_plus-icon {
  @include sizes(10px);
  color: inherit;
  font-size: 10px;
  position: relative;
  &:before,
  &:after {
    @include multi-transition(visibility, opacity);
    content: '';
    color: inherit;
    font-size: inherit;
    position: absolute;
    right: 0;
  }
  &:before {
    content: '\f068';
    visibility: hidden;
    opacity: 0;
  }
  &:after {
    content: '\f067';
  }
  .opened > & {
    &:before {
      visibility: visible;
      opacity: 1;
    }
    &:after {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.sidebar_groups-list {
  transition: max-height 1s;
  border-top: 1px solid $col-border;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
}

.sidebar_group-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  background-color: transparent;
  width: 100%;
  padding: 15px 18px;
  position: relative;
  .toggle_plus-icon {
    color: #bebebe;
    transition: color .3s;
  }
  &.opened {
    .toggle_plus-icon { color: $col-primary; }
    +.sidebar_filters-list {
      max-height: 1000px;
    }
  }
}

.sidebar_group-title {
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 0;

}

.sidebar_filters-list {
  margin: 0;
  padding: 0 18px;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height .6s;
}

.sidebar_filter-item {
  margin: 10px 0;
}

.sidebar_filter-item_block {
  color: $col-txt2;
  cursor: pointer;
  line-height: 1;
  transition: color .3s;
  &:hover { color: $col-txt; }
  input[type=checkbox] {
    margin: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
}

.checkbox-emmitator {
  @include sizes(10px);
  background-color: transparent;
  border: 1px solid $col-border;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  &:after {
    @include sizes(8px);
    background-color: $white;
    border: 1px solid $white;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color, .3s;
  }
  input[type=checkbox]:checked + & {
    &:after { background-color: $col-primary; }
  }
}
.sidebar_filter {
  color: inherit;
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
}
