script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "House Tipster",
    "url": "https://housetipster.com",
    "logo": "https://cdn3.housetipster.com/resize_300x0/static-img/Housetipster_logo-new-big.png",
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+1-201-655-6523",
        "contactType": "sales",
        "areaServed": [ "US" ]
      }
    ],

    "sameAs": [
      "https://www.facebook.com/housetipster",
      "https://www.instagram.com/housetipster/",
      "https://www.linkedin.com/company/all-granite-and-marble-corp/",
      "https://plus.google.com/107731717320075422325",
      "https://twitter.com/House_Tipster",
      "https://www.youtube.com/channel/UC1DxSyQFJC1etJjt-483dGQ"
    ]
  }

script(type="application/ld+json").
  {
    "@context":"http://schema.org",
    "@type":"WebSite",
    "name":"HouseTipster",
    "url":"https://housetipster.com",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://housetipster.com/search-result?searchText={search_term_string}&src=mc_google",
      "query-input": "required name=search_term_string"
    }
  }

script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@id": "https://housetipster.com/#webpage",
    "@type": "WebPage",
    "url": "https://housetipster.com/",
    "name": "HouseTipster"
  }
