agile.banners_slides-wrapper.slider--main(
  v-if="content.slider.length"
  :arrows="false"
  :speed="2500"
  :timing="'linear'"
  :fade="true"
  :autoplay="true"
  :pauseOnHover="false"
)
  .banners_slide-block(
    v-for="slideItem in content.slider"
  )
    router-link.banners_slide-link(to="/some-link")
    img.banners_slide-img(:src="slideItem.slideImage" alt="slider picture")
    .slide_text-block(
      v-if="slideItem.slideTitle || slideItem.slideText"
    )
      .banners_slide-title
        h1.h1 {{ slideItem.slideTitle }}
      .banners_slide-text
        p {{ slideItem.slideText }}
