
.article-item_picture-holder
  .commercial-banner.vr-360(v-if="item.is360View")
  .article-item_picture-box
    img.media-item_picture(
      :src="item.thumbnail[0] || 'https://cdn3.housetipster.com/empty.jpg'"
    )
  router-link.article-item_hover-link(:to="item.link")

.article-item_details
  .article-item_details-body
    h3.article-item_title.articleTitle
      router-link(:to='item.link') {{ item.title }}
    .article-item_views-details
      ul.article-item_counters-list
        li.counter-item
          i(aria-hidden="true").fa.fa-thumbs-up
          | &nbsp;
          | {{ item.likesCount }}
        li.counter-item
          i(aria-hidden="true").fa.fa-eye
          | &nbsp;
          | {{ item.viewsCount }}
        li.counter-item
          i(aria-hidden="true").fa.fa-comment
          | &nbsp;
          | {{ item.commentsCount }}

      .article-item_rating.rating-component
        .stars-holder
          i(aria-hidden="true"
            v-for="rating in [1,2,3,4,5]"
            :class="{'empty': rating > item.rating}"
          ).fa.fa-star-o
          | {{item.rating}}

    .article-item_content(v-if="item.tagLine")
      p {{ item.tagLine }}

  footer.article-item_details-footer
    ul.vr-card_components-list
      li
        .vr_component-item
          i(aria-hidden="true").fa.fa-shopping-basket
          | &nbsp;
          | {{ item.componentsCount }}
          | &nbsp;
          span.item-name components
      li
        .vr_component-item
          i(aria-hidden="true").fa.fa-user
          | &nbsp;
          | {{ item.vendorsCount }}
          | &nbsp;
          span.item-name vendors
    .show-for-album.features-list_holder
      ul.vr-card_features-list
        li(:class="{'disabled': !item.features.human}")
          i(aria-hidden="true").ht.chick
        li(:class="{'disabled': !item.features.panorama}")
          i(aria-hidden="true").ht.vr-rotate
        li(:class="{'disabled': !item.features.video}")
          i(aria-hidden="true").ht.vr-play
        li(:class="{'disabled': !item.features.virtualitem}")
          i(aria-hidden="true").ht.vr-face
        li(:class="{'disabled': !item.features.labels}")
          i(aria-hidden="true").ht.vr-label
